<footer class="footer">
      <form action="/talk" method="get">
            <button class="button-footer">
                  <div id="home" class="footer-item"><i class="fas fa-home"></i></div>
            </button>
      </form>
      <form action="/talk/new" method="get">
            <button class="button-footer">
                  <div id="upload" class="footer-item"><i class="fas fa-plus-circle"></i></div>
            </button>
      </form>
      <form action="/talk/search" method="get">
            <button class="button-footer">
                  <div id="search" class="footer-item"><i class="fas fa-search"></i></div>
            </button>
      </form>
      <form action="/talk/user" method="get">
            <button class="button-footer">
                  <div id="account" class="footer-item"><i class="fas fa-user"></i></div>
            </button>
      </form>
</footer> 